<!-- Matomo -->

<!-- Matomo Image Tracker -->
<noscript>
  <img src="//stats.myzopotamia.dev?idsite={{ site.matomo_analytics.siteId }}&amp;rec=1" style="border:0" alt="" />
</noscript>
<!-- End Matomo -->


<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u='//'+"{{ site.matomo_analytics.url }}";
    _paq.push(['setTrackerUrl', u+'/piwik.php']);
    _paq.push(['setSiteId', '{{ site.matomo_analytics.siteId }}']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'/piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->